<div class="details-container" *ngIf="product$ | async as product; else loading">
  <div class="details-header"><dx-button [routerLink]="['']" text="Powrót" />
    <wapro-buttons />
  </div>
  <div class="product-details">
    <div class="product-header">
      <div class="product-icon">
        <div class="product-icon-text">{{product.productNameShortcut}}</div>
      </div>
      <span class="product-name">{{product.productName}}</span>
    </div>

    <div class="details-info">
      <span class="product-name">{{product.productName}}</span>
      <span class="product-name">{{product.productNameDescription}}</span>
      <p class="product-release-date">
        data wydania wersji: <strong>{{ product.lastReleaseDate | date: 'yyyy-MM-dd'}}</strong></p>
      <p class="product-price">
        cena: <strong>{{ product.basePrice | waproCurrency }}</strong></p>
      <dx-button class="add-to-cart" text="Dodaj do koszyka" />
    </div>
  </div>

  <div class="mobile-details">
    <ng-container *ngTemplateOutlet="variants" />
    <ng-container *ngTemplateOutlet="description" />
    <ng-container *ngTemplateOutlet="opinions" />
    <ng-container *ngTemplateOutlet="delivery" />
    <ng-container *ngTemplateOutlet="ask" />
  </div>
  <dx-tab-panel class="tab-panel" [animationEnabled]="true" [focusStateEnabled]="false">

    <!-- Variants -->
    <dxi-item title="Dostępne warianty" class="product-variants tab-item">
      <ng-container *ngTemplateOutlet="variants" />
    </dxi-item>

    <!-- Description -->
    <dxi-item title="Opis" class="product-description tab-item">
      <ng-container *ngTemplateOutlet="description" />
    </dxi-item>

    <!-- Opinions -->
    <dxi-item title="Opinie" class="product-opinions tab-item">
      <ng-container *ngTemplateOutlet="opinions" />
    </dxi-item>

    <!-- Shippping -->
    <dxi-item title="Dostawa" class="product-delivery tab-item">
      <ng-container *ngTemplateOutlet="delivery" />
    </dxi-item>

    <!-- Ask about product -->
    <dxi-item title="Zapytaj o produkt" class="product-ask tab-item">
      <ng-container *ngTemplateOutlet="ask" />
    </dxi-item>


  </dx-tab-panel>

  <ng-template #variants>
    <p class="tab-header">Dostępne warianty</p>
    <p>{{product.variantDescription}}</p>
    <dx-data-grid [dataSource]="product.variants" [columns]="variantColumns" [columnHidingEnabled]="true"
      [showBorders]="true" [height]="200" [scrolling]="{showScrollbar: 'always'}" />
  </ng-template>

  <ng-template #description>
    <p class="tab-header">Opis produktu</p>
    <p>{{product.description}}</p>
  </ng-template>

  <ng-template #opinions>
    <p class="tab-header">Opinie o produkcie</p>
    <dx-button class="add-opinion" text="Dodaj opinię" />
  </ng-template>

  <ng-template #delivery>
    <p class="tab-header">Informacje o dostawie</p>
    <span class="product-delivery-text">Darmowa dostawa w ciągu 24h</span>
  </ng-template>

  <ng-template #ask>
    <p class="tab-header">Formularz zapytania o produkt</p>
    <form (submit)="submitContactForm($event)">
      <dx-form class="form">
        <dxi-item dataField="Email"> <dxi-validation-rule type="required"
            message="Email jest wymagany" /><dxi-validation-rule type="email"
            message="Nieprawidłowy adres email" /></dxi-item>
        <dxi-item dataField="Wiadomość" editorType="dxTextArea" [colSpan]="4" [editorOptions]="{ height: 120}">
          <dxi-validation-rule type="required" message="Wpisz swoją wiadomość" /> </dxi-item>
        <dxi-item itemType="button" class="send-msg-button" horizontalAlignment="center" [buttonOptions]="{ text: 'Wyślij'
          , useSubmitBehavior: true }" />
      </dx-form>
    </form>
  </ng-template>
</div>


<ng-template #loading>
  <div class="loading">
    Ładowanie ...
  </div>
</ng-template>