::ng-deep {
  .dx-list:not(.dx-list-select-decorator-enabled)
    .dx-list-item.dx-state-focused {
    background-color: white !important;
    color: black !important;
  }
  .dx-item.dx-list-item {
    color: black !important;
  }
  .dx-state-active {
    background-color: #f5f3f3 !important;
    color: black !important;
  }
  .dx-tile.dx-state-active {
    background-color: white !important;
    transform: none !important;
    transition: none !important;
    color: black !important;
    box-shadow: 0 0 10px #ccc !important;
    border: 1px solid rgba(221, 221, 221, 0.6) !important;
  }
  .dx-tile.dx-state-focused {
    border: 1px solid rgba(221, 221, 221, 0.6) !important;
  }
  .dx-tile.dx-state-hover {
    border: 1px solid rgba(221, 221, 221, 0.6) !important;
    box-shadow: 0 0 10px #ccc !important;
  }
  .dx-tile {
    color: black !important;
  }
}
.list-container {
  width: 60%;
  @media screen and (max-width: 768px) {
    width: 100%;
  }
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    width: 80%;
  }
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  border: 1px solid #ccc;
  padding: 2px;
}
.list-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product-list {
  margin: 10px;
}
// fix this below to center tiles while maintaining responsiveness
.tile-container {
  margin-left: calc(5% + 25px);
}
.loading {
  text-align: center;
}
