::ng-deep {
  .dx-list:not(.dx-list-select-decorator-enabled)
    .dx-list-item.dx-state-focused {
    background-color: white !important;
    color: black !important;
  }
  .dx-item.dx-list-item {
    color: black !important;
  }
  .dx-state-active {
    background-color: #f5f3f3 !important;
    color: black !important;
  }
}
.list-container {
  width: 60%;
  @media screen and (max-width: 768px) {
    width: 100%;
  }
  @media screen and (min-width: 769px) and (max-width: 1024px) {
    width: 80%;
  }
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  border: 1px solid #ccc;
}

.list-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.loading {
  text-align: center;
}

::ng-deep {
  .product-list {
    padding: 10px !important;
    .product-price {
      margin: 0 !important;
    }
    .item-price {
      align-items: flex-end !important;
      @media screen and (max-width: 586px) {
        align-items: center !important;
        margin: 0 !important;
      }
    }
    .buttons {
      margin-top: auto;
      @media screen and (max-width: 586px) {
        margin-top: 10px;
      }
    }

    .item {
      flex-direction: row !important;
      justify-content: space-between !important;
      @media screen and (max-width: 586px) {
        flex-direction: column !important;
        align-items: center !important;
      }
    }

    .product-image {
      width: 20% !important;
      padding-top: 20% !important;
      margin: 2% !important;
      @media screen and (max-width: 586px) {
        width: 50% !important;
        padding-top: 50% !important;
        border-top-right-radius: 40px !important;
        border-bottom-left-radius: 40px !important;
      }
      @media screen and (max-width: 382px) {
        width: 65% !important;
        padding-top: 65% !important;
        border-top-right-radius: 45px !important;
        border-bottom-left-radius: 45px !important;
      }
      @media screen and (max-width: 304px) {
        width: 80% !important;
        padding-top: 80% !important;
        border-top-right-radius: 40px !important;
        border-bottom-left-radius: 40px !important;
      }
    }

    .product-image-text {
      font-size: 60px !important;
      @media screen and (min-width: 587px) and (max-width: 1208px) {
        font-size: 50px !important;
      }
    }

    .product-header {
      align-items: flex-start !important;
      margin-right: auto !important;
      gap: 0 !important;
      @media screen and (max-width: 586px) {
        margin: 0 !important;
        align-items: center !important;
      }
    }

    .product-name {
      font-size: 28px !important;
      @media screen and (min-width: 587px) and (max-width: 1208px) {
        font-size: 20px !important;
      }
      @media screen and (max-width: 586px) {
        font-size: 24px !important;
      }
    }
    .product-code {
      font-size: 20px !important;
      @media screen and (max-width: 1208px) {
        font-size: 16px !important;
      }
    }
  }
}
.custom-tile-view {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  height: auto;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  ::ng-deep {
    .custom-item {
      margin-left: auto;
      margin-right: auto;
      width: 25%;
      @media screen and (min-width: 1025px) and (max-width: 1440px) {
        width: 33%;
      }
      @media screen and (min-width: 769px) and (max-width: 1024px) {
        width: 50%;
      }
      @media screen and (min-width: 657px) and (max-width: 768px) {
        width: 33%;
      }
      @media screen and (min-width: 456px) and (max-width: 656px) {
        width: 50%;
      }
      @media screen and (max-width: 455px) {
        width: 100%;
      }
    }
    .item {
      margin-left: auto;
      margin-right: auto;
      margin: 15px;
      border: 1px solid #ccc;
      border-radius: 10px;
      box-shadow: 0 0 10px #ccc;
    }
    .item:hover {
      background-color: #f5f3f3;
    }
  }
}
