<div class="list-container" *ngIf="productsList$ | async as productList; else loading">
  <div class="list-header">
    <strong>Wybierz widok: </strong>
    <dx-select-box [(value)]="selectedView" [dataSource]="viewOptions" displayExpr="text" valueExpr="id"
      (onSelectionChanged)="selectView($event)" width="145px" />
  </div>

  @switch (selectedView){

  <!-- list view -->
  @case ('list'){
  <dx-list class="product-list" [items]="productList" [focusStateEnabled]="false">
    <product-item *dxTemplate="let item of 'item'" [product]="item" />
  </dx-list>
  }

  <!-- tiles view -->
  @case ('tiles'){
  <div class="custom-tile-view">
    @for (product of productList; track product.productId){
    <product-item class="custom-item" [product]="product" />
    }
  </div>
  }
  }
</div>
<ng-template #loading>
  <div class="loading">Ładowanie ...</div>
</ng-template>