<div class="list-container" *ngIf="productsList$ | async as productList; else loading">
  <div class="list-header">
    <strong>Wybierz widok: </strong>
    <dx-select-box [(value)]="selectedView" [dataSource]="viewOptions" displayExpr="text" valueExpr="id" width="145px">
    </dx-select-box>
  </div>
  <!-- list view -->
  <dx-list class="product-list" *ngIf="selectedView === 'list'" [items]="productList" [focusStateEnabled]="false">
    <list-item class="list-item" *dxTemplate="let item of 'item'" [product]="item"></list-item>
  </dx-list>

  <!-- tiles view -->
  <dx-tile-view *ngIf="selectedView === 'tiles'" class="tile-container" [dataSource]="productList" [itemMargin]="25"
    [focusStateEnabled]="false" direction="vertical" itemTemplate="tile" height="100%" [baseItemHeight]="400"
    [baseItemWidth]="220">
    <tiles-item *dxTemplate="let item of 'tile'" [product]="item"></tiles-item>
  </dx-tile-view>
</div>
<ng-template #loading>
  <div class="loading">Ładowanie ...</div>
</ng-template>