::ng-deep {
  .product-buttons {
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    margin-top: auto;
    height: 100%;
    @media screen and (max-width: 586px) {
      align-items: center;
      justify-content: center;
      margin-top: 10px;
      margin-bottom: 20px;
    }
  }
}
.product-list-item {
  display: flex;
  flex-direction: row;
  padding: 15px;
  justify-content: space-between;
  @media screen and (max-width: 586px) {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }
}
.product-list-item:hover {
  background-color: white;
  border-radius: 10px;
  cursor: default;
}
.product-image {
  width: 20%;
  padding-top: 20%;
  background-color: red;
  background: linear-gradient(to left top, #ff0000 0%, #c9aeae 100%);
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  position: relative;
  @media screen and (max-width: 586px) {
    width: 50%;
    margin-bottom: 10px;
    padding-top: 50%;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
  }
  @media screen and (max-width: 382px) {
    width: 65%;
    padding-top: 65%;
    border-top-right-radius: 45px;
    border-bottom-left-radius: 45px;
  }
  @media screen and (max-width: 304px) {
    width: 80%;
    padding-top: 80%;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
  }
}
.product-image:hover {
  transform: scale(1.1);
  transition: transform 0.5s;
  cursor: pointer;
  box-shadow: 0 0 10px #ccc;
}
.product-image-text {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: white;
  font-size: 30px;
  font-weight: bold;
}
.product-left-box {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
  @media screen and (max-width: 586px) {
    width: 100%;
    align-items: center;
  }
}
.product-name {
  font-size: 20px;
}
.product-code {
  font-size: 12px;
}

// .fav-button {
//   background-color: #f5f5f5;
//   border: 1px solid #ccc;
//   border-radius: 5px;
//   padding: 5px;
//   cursor: pointer;
//   margin-right: 20px;
// }
// .fav-button:hover {
//   background-color: #ccc;
//   transition: background-color 0.5s;
//   box-shadow: 0 0 10px #ccc;
// }
// .compare-button {
//   background-color: #f5f5f5;
//   border: 1px solid #ccc;
//   border-radius: 5px;
//   padding: 5px;
//   cursor: pointer;
// }
// .compare-button:hover {
//   background-color: #ccc;
//   transition: background-color 0.5s;
//   box-shadow: 0 0 10px #ccc;
// }
.product-right-box {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  @media screen and (max-width: 586px) {
    align-items: center;
    gap: 5px;
  }
}
.product-price {
  font-size: 20px;
  font-weight: bold;
}
.add-to-cart {
  padding: 5px;
  margin-top: auto;
}
.add-to-cart:hover {
  box-shadow: 0 0 10px #ccc;
}
.tile-container {
  height: 100vh;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.tile {
  margin-left: auto;
  margin-right: auto;
  .product-image {
    margin: 20px auto 10px auto;
  }
  .product-name {
    margin-top: 4px;
    margin-left: 4px;
    margin-bottom: 0px;
  }
  .product-code {
    margin-top: 0px;
    margin-left: 4px;
    margin-bottom: 4px;
  }
  .product-buttons {
    margin-left: 4px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 10%;
  }
}
.tile:hover {
  transition: background-color 2.5s;
}
.tile-bottom {
  display: flex;
  flex-direction: column;

  align-items: flex-end;
  margin-top: 22px;
  margin-right: 4px;
  gap: 5px;
}
