<div class="tile" [routerLink]="'product/' + product.productId">
  <p class="product-name"><b>{{product.productName}}</b></p>
  <span class="product-code">kod produktu: {{product.productCode}}</span>
  <div class="product-image">
    <div class="product-image-text">{{product.productNameShortcut}}</div>
  </div>
  <buttons class="buttons" [productId]="product.productId" />
  <div class="tile-bottom">
    cena: <span [ngStyle]="{'background-color': product.basePrice < 500 ? 'green' : 'orange'}" class="product-price">
      {{ product.basePrice }}
    </span>

    <dx-button class="add-to-cart" text="Dodaj do koszyka" (click)="mouseClick($event)"></dx-button>
  </div>
</div>